%btn{
    color: $darkgrey;
    background-color: $lightgrey;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: ease-in-out 300ms;
    &:hover{
        background-color: darken($color: $lightgrey, $amount: 0.2)
    }
}

.btn--grey{
    @extend %btn;    
}

.btn--blue{
    @extend %btn;
    color: $white;
    background-color: $lightblue; 
    &:hover{
        background-color: darken($color: $lightblue, $amount: 0.2)        
    }
}

.btn--outline{
    @extend %btn;
    background-color: $white;
    color: $black;
    border: $black 2px solid;
    &:hover{
        padding: 0.4rem 1rem;
    }
}

.btn--outline-grey{
    @extend .btn--outline;
    border-color: $white;
    color: $white;
    background-color: $darkgrey;
    &:hover{
        background-color: lighten($darkgrey, 1.2)                
    }
}

.btn--outline-blue{
    @extend .btn--outline;
    border-color: $white;
    color: $white;
    background-color: $lightblue;
    &:hover{
        background-color: darken($lightblue, 1.2)                
    }
}