.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  max-width: 1170px;
  margin: 0 auto;
}

$class-slug: grid-col !default;

@for $i from 1 through 12{
  .#{$class-slug}-#{$i}{
    grid-column: span $i;
  }
}

section{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.full-width-img{
  width: 100%;
}