//base
$white: #ffffff;
$black: #000;
$lightblue: #33d0de;
$darkgrey: #333333;
$lightgrey: #f6f6f6;
$newslettergrey: #dcdcdc;

//elements
$footer-grey: $darkgrey;
$footer-text: #7b7b7b;
$form-border-color: #707070;

$text-color: $darkgrey;
$top-brands-bg: $lightgrey;
